# Build
build/
build-*/

# VCPKG
vcpkg_installed/

# CMake
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
CMakeUserPresets.json
CMakeLists.txt.user
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.objCLion

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug Symbols (macOS)
*.dSYM/


# Logs and temp files
*.log
*.tmp

# CLion
.idea
